html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94%;
}

aside {
  width: 24%;
  height: 100%;
  background-color: #f5e4ea;
  padding: 30px 15px;
  border-right: 1px solid #e0b1c2;
}
aside div.wraper-input {
  position: relative;
}
aside div.wraper-input input[type=text] {
  width: 100%;
  height: 30px;
  padding-left: 2px;
  outline: 0;
}
aside div.wraper-input i.bi-search {
  position: absolute;
  right: 5px;
  top: 7px;
  cursor: pointer;
}
aside ul {
  list-style-type: none;
}
aside ul li {
  margin: 30px 0;
}
aside ul li i {
  margin-right: 5px;
}
aside ul li a {
  text-decoration: none;
  font-size: 1em;
  color: #121111;
}
aside .division {
  width: 95%;
  height: 1px;
  background-color: #b0a0a6;
}
aside h3 {
  margin: 15px 0;
}

.library {
  width: 100%;
  height: 100%;
  background-color: #faf5f7;
  padding: 16px;
}
.library h2.title {
  font-family: "Bungee Shade", sans-serif;
  font-size: 18px;
}
.library nav {
  padding: 10px 0;
  border-bottom: 4px solid #e9ebf0;
}
.library nav a {
  text-decoration: none;
  font-size: 1.5em;
  color: #121111;
  margin-right: 25px;
  padding: 10px;
  border-radius: 5px;
}
.library .content-library {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px 0px;
  height: 85%;
  overflow-y: auto;
}
.library .content-library #loader {
  display: none;
  margin-top: 25% !important;
  transform: rotateZ(45deg);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  margin: 15px auto;
}
.library .content-library #loader {
  display: none;
}
.library .content-library #loader:before, .library .content-library #loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.library .content-library #loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
@keyframes spin {
  0%, 100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
.library .content-library .box-music {
  width: 200px;
  min-height: 275px;
  background-color: #ccc;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}
.library .content-library .box-music .image-box {
  height: 80%;
  border-radius: 5px;
}
.library .content-library .box-music .image-box img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 100%;
}
.library .content-library .box-music .title-music {
  margin: 7px;
  text-align: center;
}
.library .content-library .box-music:hover {
  scale: 1.05;
}

.div-player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  background-color: #262525;
  position: absolute;
  bottom: 0;
}
.div-player audio::-webkit-media-controls-panel {
  background-color: #fff;
  width: 900px;
}/*# sourceMappingURL=home.css.map */