@import '../../mixins/mainMixins.scss';

html,body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

*{
 @include resetBodySpacement;
}

main{
    @include defineFlex(space-between,center);
    height: 94%;
}

aside{

    width: 24%;
    height: 100%;
    background-color:#f5e4ea;
    padding: 30px 15px;
    border-right: 1px solid #e0b1c2;

    form.wraper-input{
        position: relative;

        input[type="text"]{
            width: 100%;
            height: 30px;
            padding-left: 2px;
            outline: 0;
        }

        i.bi-search{
            position: absolute;
            right: 5px;
            top: 7px;
            cursor: pointer;
        }

    }

    
    span{
        text-decoration: none;
        font-size: 1em;
        color:#121111;
        margin-right: 25px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s;
    }

    span:hover{
        background-color: #ccc;
    }


    ul{
        list-style-type: none;
        
        li{
            margin: 30px 0;
            
            i{
                margin-right: 5px;
            }

            a{ 
                text-decoration: none;
                font-size: 1em;
                color:#121111;
            }
        }
    }


    .division{
        width: 95%;
        height: 1px ;
        background-color: #b0a0a6;
    }

    h3{
     margin: 15px 0;
    }
}

.library{
    width: 100%;
    height: 100%;
    background-color: #faf5f7;
    padding:16px;

    h2.title{
        font-family: "Bungee Shade", sans-serif;
        font-size: 18px;
    }

    nav#nav-links{
        padding: 10px 0;
        border-bottom: 4px solid #e9ebf0;

        span{
            text-decoration: none;
            font-size: 1.5em;
            color:#121111;
            margin-right: 25px;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s;
        }

         span:hover{
            background-color: #ccc;
        }

    }

    .filter{
        @include defineFlex(flex-start,flex-end);
        gap: 20px;
        margin-top: 15px;

        p{
            font-size: 18px;
        }


        option{
            font-size: 19px;
        }
        

        .btn-filter{
          background-color: #121111;
          color: #fff;
          font-size: 15px;
          border-radius: 5px;
          padding: 3px 15px;
          cursor: pointer;
        }
    }

    .content-library{

        @include defineFlex(space-around,flex-start);
        flex-wrap: wrap;
        padding: 10px 0px;
        height: 85%;
        overflow-y: auto;

        #loader{
            display: none;
            margin-top: 25%;
            @include stateLoading(&);
        }

        .errorMsg{
            width: 500px;
            background-color: #f55167;
            color: #fff;
            text-align: center;
        }

        .box-music{
            width: 200px;
            min-height: 275px;
            background-color: #ccc;
            margin: 10px 0;
            transition: .5s;
            border-radius: 5px;

            .image-box{
                height: 80%;
                border-radius: 5px;
                cursor: pointer;

                img{
                    object-fit: cover;
                    object-position: center;
                    max-width: 100%;
                }

            }
            h4.title{
                margin: 7px;
                text-align: center;
                cursor: pointer;
            }
        }

        .box-music:hover{
            scale: 1.02;
        }


    }
}

.div-player{
    @include defineFlex(center,center);
    flex-direction: column;
    width: 100%;
    padding: 5px 0;
    background-color: #262525;
    position: absolute;
    bottom: 0;

   div.box-music-name{
    color: #f5e4ea;
   }

   .wraper-player{
    @include defineFlex(center,center);
    gap: 15px;
    flex-direction: row;

    .img-music{
        width: 60px;
        height: 60px;
        display: none;

        
        img{
            max-width: 100%;
            object-fit: cover;
        }
    }

    audio{
        width: 800px;
        height: 35px;
        display: none;
    }

        
    audio::-webkit-media-controls-panel{
        background-color:#f5e4ea;
    }

   }

}
