@mixin resetBodySpacement{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin maxDimensions{
    width: 100%;
    height: 100%;
}

@mixin defineFlex($horiz, $vert){
    display: flex;
    justify-content: $horiz;
    align-items: $vert;
}

@mixin spacementDefault{
    width: 100%;
    padding: 15px 1%;
}

@mixin applyBorder($thickness,$color){
    border: $thickness solid $color;
}

